<%= form_for(@paradigm) do |f| %>
  <% if @paradigm.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@paradigm.errors.count, "error") %> prohibited this paradigm from being saved:</h2>

      <ul>
      <% @paradigm.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <div class="field">
    <%= f.label :transcription %><br>
    <%= f.text_field :transcription %>
  </div>
  <div class="field">
    <%= f.label :translation %><br>
    <%= f.text_field :translation %>
  </div>
    <div class="field">
      <%= f.label :word_id %><br>
      <%= f.collection_select(:word_id, Word.all, :id, :transcription) %>
    </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
