<h1>Listing paradigms</h1>

<table>
  <thead>
    <tr>
      <th>Word</th>
      <th>Transcription</th>
      <th>Translation</th>
      <th>Word</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @paradigms.each do |paradigm| %>
      <tr>
        <td><%= paradigm.word %></td>
        <td><%= paradigm.transcription %></td>
        <td><%= paradigm.translation %></td>
        <td><%= paradigm.word_id %></td>
        <td><%= link_to 'Show', paradigm %></td>
        <td><%= link_to 'Edit', edit_paradigm_path(paradigm) %></td>
        <td><%= link_to 'Destroy', paradigm, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Paradigm', new_paradigm_path %>
