<style>
    .container {
        background-color: #ffffff;

        padding-right:24px;
        padding-left:24px;
    }
    body {
        background-image: url(/binding_dark.png);
    }

</style>


<nav class="navbar navbar-inverse" role="navigation">

  <ul class="nav nav-pills">
    <li><a href="/">Главная страница</a></li>
    <li><a href="/static_pages/about">О проекте</a></li>
    <li class="disabled">О языках словарей</li>
    <li class="disabled">Новости</li>
    <li class="disabled">Форум</li>
    <li class="disabled">Правила работы</li>
    <li class="disabled">Контакты</li>
  </ul>

</nav>

<div class="container">
<h1>LingvoDoc</h1>
<h2>Этимологические базы диалектных аудиословарей</h2>

<table class="table table-striped" id="dictionaries">
<!--  <thead>
    <tr>
      <th>Словари</th>
    </tr>
  </thead>
-->
  <tbody>
    <% @dictionaries.each do |dictionary| %>
      <tr>
        <td><%= link_to dictionary.name, dictionary %></td>
        <!--        <td><%= dictionary.description %></td>
                <td><%= dictionary.identifier %></td>
        <td><%= dictionary.author_id %></td>
         <td><%= link_to 'Show', dictionary %></td>
        <td><%= link_to 'Edit', edit_dictionary_path(dictionary) %></td>
        <td><%= link_to 'Destroy', dictionary, method: :delete, data: { confirm: 'Are you sure?' } %></td> -->
      </tr>
    <% end %>
  </tbody>
</table>
<!--  <div class="row show-grid">
  <% @dictionaries.each do |dictionary| %>
    <div class="col-md-4"><%= link_to dictionary.name, dictionary %></div>
  <% end %>
  </div> -->
  <div>
  <br>
  <p>Предлагаемая Вашему вниманию программа дает новые возможности для качественной документации языков и их диалектов. Данная программа позволяет:</p>
  <ol>
      <li>загружать аудиофайлы с произнесениями различных слов;</li>
      <li>снабжать слова транскрипцией, орфографической записью и переводом;</li>
      <li>обрабатывать звучащие слова в программе-анализаторе речи «Praat» и размещать их спектрограммы;</li>
      <li>добавлять к исходной форме слова его полную или частичную парадигму со словоформами, каждая из которых также может быть снабжена аудиофайлом, транскрипцией, орфографической записью, переводом и спектрограммой;</li>
      <li>связывать каждое конкретное слово этимологическими связями как с другими словами из того же диалекта и языка, так и со словами из родственных языков (словари которых также представлены на сайте);</li>
      <li>размещать длительные аудиозаписи текстов, а также статьи о конкретных говорах, диалектах и языках, описания их фонетических, фонологических, просодических и др. систем, сведения о генетической принадлежности языков и системе регулярных соответствий между родственными языками.</li>
  </ol>
  <p>Мы надеемся, что данная программа позволит создавать словари нового типа — аудиословари, дающие возможность этимологически систематизировать лингвистический материал и верифицировать его с помощью анализаторов звучащей речи, что, несомненно, очень важно при документации редких и исчезающих языков.</p>
  <p>Очевидно, что этимологические базы аудиословарей будут тем информативнее, чем больше ученых введут в них свои экспедиционные материалы по различным языкам мира. В целом ряде отделов и на многих кафедрах хранятся оцифрованные и неоцифрованные архивы полевых записей, которые представляют собой огромную ценность, ведь многие из задокументированных языков уже исчезли или находятся на грани исчезновения.</p>
  <p>Мы призываем Вас заняться оцифровкой экспедиционных аудиозаписей, затем нарезать их на отдельные звуковые файлы со словарными произнесениями, загрузить их в программу, снабдив хотя бы переводом (остальные опции можно будет добавлять постепенно), и вывесить на сайте «LingvoDoc» («Этимологические базы диалектных аудиословарей»). Это позволит ввести в научный оборот важнейшие материалы, сделав их общедоступными.</p>
  <p>Программу можно скачать по <a href="http://modis.ispras.ru/FTPContent/dialeqt/LingvoDoc-0.8.zip">ссылке</a></p>
  </div>

  <br>
</div>